<% content_for :page_header do %>
  Add New User
<% end %>
<%= form_for(@user) do |f| %>
  <div class="card-body">
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control col-6', placeholder: 'First Name' %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control col-6', placeholder: 'Last Name' %>
    </div>
    <div class="form-group">
      <%= f.label :email_name %>
      <%= f.email_field :email, class: 'form-control col-6', placeholder: 'Email' %>
    </div>
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control col-6', placeholder: 'Address' %>
    </div>
    <div class="form-group">
      <%= f.label :mobile %>
      <%= f.text_field :mobile, class: 'form-control col-6', placeholder: 'Mobile #' %>
    </div>
    <div class="form-group">
      <%= f.label :profile_picture %>
      <div class="input-group">
        <div class="custom-file col-6">
          <%= f.file_field :avatar, class: 'custom-file-input' %>
          <label class="custom-file-label">Choose Picture</label>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= f.submit('Submit', class: 'btn btn-primary') %>
  </div>
<% end %>