<tr>
  <td><%= user.id %></td>
  <td><%= user.email %></td>
  <td><%= user.first_name || '--' %></td>
  <td><%= user.last_name || '--' %></td>
  <td><%= user.address || '--' %></td>
  <td><%= user.mobile || '--' %></td>
</tr>