<% content_for :page_header do %>
  Users
<% end %>
<!-- Default box -->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Current Users</h3>
    <div class="card-tools">
      <a type="button" href="<%= new_user_path %>" class="btn btn-sm btn-primary pull-right"><i class="fa fa-plus"></i> Add User</a>
    </div>
  </div>
  <div class="card-body table-responsive p-0">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Mobile #</th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= will_paginate @users %>
  </div> <!-- /.card-footer-->
</div><!-- /.card -->
