<!-- Default box -->
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">User Details</h3>
    <div class="card-tools">
    </div>
  </div>
  <%= render 'form' %>
</div><!-- /.card -->
