<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="_#" class="brand-link">
    <img src="../../dist/img/AdminLTELogo.png"
          alt="AdminLTE Logo"
          class="brand-image img-circle elevation-3"
          style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user -->
    <% if current_user.present? %>
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block"><%= current_user.email %></a>
        </div>
      </div>
    <% end %>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
        <% if can? :manage, User %>
          <li class="nav-item has-treeview <%= @tree_menu == 'users' ? 'menu-open' : '' %>">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                User Management
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="<%= users_path %>" class="nav-link <%= @sub_tree_menu == 'index' ? 'active' : '' %>">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Users</p>
                </a>
              </li>
            </ul>
          </li>
        <% end %>

        <li class="nav-item has-treeview <%= @tree_menu == 'locations' ? 'menu-open' : '' %>">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-globe-asia"></i>
            <p>
              Location Management
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="<%= locations_path %>" class="nav-link <%= @sub_tree_menu == 'index' ? 'active' : '' %>">
                <i class="far fa-circle nav-icon"></i>
                <p>Locations</p>
              </a>
            </li>
          </ul>
        </li>

      </ul> <!-- end of sidebar treeview -->
    </nav>
  </div>
</aside>