<div class="card">
  <div class="card-body login-card-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f| %>
      <div class="input-group mb-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control' %>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-envelope"></span>
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'form-control' %>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <% if devise_mapping.rememberable? %>
          <div class="col-8">
            <div class="icheck-primary">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          </div>
        <% end %>

        <div class="col-4">
          <%= f.submit "Sign in", class: 'btn btn-primary btn-block btn-flat' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
