<%= form_for(@location) do |f| %>
  <%= hidden_field 'location', :created_by_id, value: @current_user.id %>
  <div class="card-body">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control col-6', placeholder: 'Name', required: true %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control col-6', placeholder: 'Description' %>
    </div>
    <div class="form-group">
      <%= f.label :type %>
      <%= f.select :type, options_for_select(Location::LOCATION_TYPES.invert), { include_blank: false }, class: 'form-control col-6' %>
    </div>
    <div class="form-group">
      <%= f.label :parent_location %>
      <%= f.select :parent_id, options_from_collection_for_select(@locations, :id, :name), { include_blank: '--' }, class: 'form-control col-6' %>
    </div>
  </div>
  <div class="card-footer">
    <%= f.submit('Submit', class: 'btn btn-primary') %>
  </div>
<% end %>