<tr>
  <td><%= location.id %></td>
  <td><%= location.name %></td>
  <td><%= location.type.humanize %></td>
  <td><%= location.parent.try(:name) || '--' %>
  <td><%= location.created_at.to_s(:long) %></td>
  <td><%= location.created_by.try(:name) || '--' %>
</tr>
