<% content_for :page_header do %>
  Locations
<% end %>
<!-- Default box -->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Current Locations</h3>
    <div class="card-tools">
      <a type="button" href="<%= new_location_path %>" class="btn btn-sm btn-primary pull-right"><i class="fa fa-plus"></i> Add Location</a>
    </div>
  </div>
  <div class="card-body table-responsive p-0">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Type</th>
          <th>Parent Location</th>
          <th>Added On</th>
          <th>Created by</th>
        </tr>
      </thead>
      <tbody>
        <%= render @locations %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <%= will_paginate @locations %>
  </div> <!-- /.card-footer-->
</div><!-- /.card -->
