<% content_for :page_header do %>
  Add New Location
<% end %>
<!-- Default box -->
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Location Details</h3>
    <div class="card-tools">
    </div>
  </div>
  <%= render 'form' %>
</div>
<!-- /.card -->
